<%- include('../partials/header') -%>

<div class="header">
    <h1>High Scores</h1>
</div>

<div class="rb-group">
    <div class="rb chart-difficulty" data-value="easy">
        <div class="rb-bg">
            <span class="rb-text">Easy</span>
        </div>
    </div>
    <div class="rb rb-active chart-difficulty" data-value="medium">
        <div class="rb-bg">
            <span class="rb-text">Medium</span>
        </div>
    </div>
    <div class="rb chart-difficulty" data-value="hard">
        <div class="rb-bg">
            <span class="rb-text">Hard</span>
        </div>
    </div>
</div>

<br>

<div class="data">

    <div class="secion-1">
        <div id="card-container" class="grid-item">
            <h2 id="cards-header"> Scores on Medium</h2>
            
            <div class="data-card">
                <h2 id="avgScore-title">Average Score</h2>
                <p class="data-point" id="avgScore">25</p>
            </div>

            <div class="data-card">
                <h2 id="highScore-title">Highest Score</h2>
                <p class="data-point" id="highScore">25</p><br>
                <small id="highScore-user"></small>
            </div>

            <div class="data-card">
                <h2 id="avgTime-title">Average Time</h2>
                <p class="data-point" id="avgTime">25</p>
            </div>

            <div class="data-card">
                <h2 id="avgMoves-title">Average Moves</h2>
                <p class="data-point" id="avgMoves">25</p>
            </div>


            <div class="data-card">
                <h2 id="gamesPlayed-title">Games Played</h2>
                <p class="data-point" id="gamesPlayed">25</p>
            </div>
        
        </div>
    </div>

    <div class="section-2">
        <div class="chart-container grid-item">
            <canvas id="chart"></canvas>
        </div>
        <br>
        <table class="scores grid-item">
            <tr>
                <th>Rank</th>
                <th>Score</th>
                <th>Name</th>
                <th>Difficulty</th>
            </tr>
            
            <% let display = '' %>
            <% let rank = 1 %>
            <% top10Scores.forEach(player => { %>
                <% display += `<td>${rank}</td><td>${player.score}</td><td>${player.player}</td><td>${player.difficulty}</td></tr>`; %>
                <% rank++; %>
            <% }); %>
            <%- display -%>
        </table>
    </div>

</div>

<%- include('../partials/footer') -%>