
:root {
    --table-header-txt: rgb(233, 207, 62);
    --table-bg-one: rgba(136, 136, 136, 0.54);
    --table-bg-two: rgba(50, 50, 50, 0.35);
    --best-score-txt: rgb(231, 81, 81);
    --table-border: rgba(50, 50, 50, 0.5);
    --box-shadow: rgba(50, 50, 50, 0.35);
}

/* GENERAL STYLE */
.data {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 20px;
}

.grid-item {
    box-shadow: 3px 5px 15px var(--box-shadow);
    border-radius: 10px;
}

/* CHART.JS */

.chart-container {
    width: 90%;
    background-color: var(--background-color);
    border-radius: 5px;
    text-align: center;
}

/* HIGH SCORE TABLE */
.scores {
    /* border-collapse: separate; */
    width: 90%;
    border-radius: 10px;
    background: transparent;
}

.scores tr:nth-child(odd) td { background-color: var(--table-bg-one); }
.scores tr:nth-child(even) td { background-color: var(--table-bg-two); }
.scores tr:nth-child(1) th { color: var(--txt); }
.scores tr:nth-child(2) td { color: var(--active-txt); }
.scores tr:last-child td:first-child { border-radius: 0 0 0 10px; }
.scores tr:last-child td:last-child { border-radius: 0 0 10px 0; }

td, th { padding: 5px 25px; }

tr { 
    background: none; 
    color: var(--bright-text);
}

/* DATA CARDS  */
#card-container {
    padding: 25px 10px 0px 10px;
    text-align: center;
}

#cards-header {
    text-align: center;
    margin-bottom: 25px;
    color: var(--header-color);
}

.data-card {
    display: block;
    background: none;
    border: none;
    margin-bottom: 50px;
    border-bottom: 2px solid var(--table-bg-two);
    padding-bottom: 5px;
    display: inline-block;
}

.data-card > h2 {
    color: var(--txt);
    font-size: 1em; 
    display: inline-block;
}

.data-card > p { 
    color: var(--bright-text);
    margin-bottom: 0px;
    display: inline-block;
}

.card-body {
    color: var(--active-txt);
}

#highScore-user {
    size: .5em;
    color: var(--active-txt);
}
